extends ../layouts/common

block content
  
  

  h1 Upload books for sale
  form.d-flex.flex-column.w-5(action="/books/add", method="POST")
    .form-group
      label Title
      input.form-control(type="text",name='title')
    .form-group
      label Description 
      input.form-control(type="text",name='des')
    .form-group
      label Price 
      input.form-control(type="text",name='price')
      input.form-control(type="hidden",name='userId', value=user._id)
    button.btn.btn-primary.button Add new

  a(href="/shop/" + user._id + "/books") My shop
  h1 Books List

  table.table
    thead-dark
      tr.table
        td(scope='col') Title
        td(scope='col') Description
        td(scope='col') Price
    tbody
      each book in books
        tr
          td
            a(href="/books/info/" + book._id) 
              span= book.title
          td
            a(href="/books/info/" + book._id) 
              span= book.des
          td
            a(href="/books/info/" + book._id)
              span= book.price

  a(href="/") Home...