extends layouts/common
    
block content
  h4(class="text-center") Library Management
  
  div(class="bg-dark d-flex flex-column align-items-center justify-content-center mt-0 p-0")
    p(class="text-center m-0 p-1" style="width: 100%; border-bottom: 1px solid white")
      a(href="./books" class="text-white") Books
    p(class="text-center m-0 p-1" style="width: 100%; border-bottom: 1px solid white")
      a(href="./users" class="text-white") Users
    p(class="text-center m-0 p-1" style="width: 100%; border-bottom: 1px solid white")
      a(href="./transaction" class="text-white") Transaction