* { 
/*   display: none !important;  */
}
.w-5 {
    width: 50%;
}
.button {
  width: 100px;
}
@media only screen and (max-width: 550px) {
  .w-5 {
    width: 100%;
  }
}
.btn-login {
	border: 1px white solid;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: red;
    color: #fff;
    padding: 0 5px;
    margin-top: -5px;
    vertical-align: top;
}