extends ../layouts/common

block content
  
  if errors
    each error in errors
      .alert.alert-danger= error
  else
    form(action="/transaction/complete", method="POST")
      input(name="id", type="hidden", value=trans.id)
      button Trả sách