extends ../layouts/common

block content
  
    h1 Shop

    form.mt-3.d-flex(action='/search', method='Get')
      input#input.form-control.mr-2(type='text', name='q')
      button.btn.btn-primary Search
    //- countCart= countCart

    .d-flex.row.mt-2.mb-3
      each book in books
        .card.mt-4.ml-1.mr-1(style='width: 24%')
          img.card-img-top(src='https://loremflickr.com/320/240')
          .card-body
            h4.card-title(style="height: 50px; overflow: hidden; font-size: 20px;")= book.title
            p.card-text(style="height: 120px; overflow: hidden; font-size: 16px;")= book.des
            .d-flex.justify-content-between.mt-4
              p(style="color: #777")= book.price
              a.btn.btn-primary(href="/cart/add/" + book.id) Add to cart

    ul.pagination.justify-content-end
      li.page-item.disabled
        a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
      li.page-item.active
        a.page-link(href='./?page=1') 1
      li.page-item
        a.page-link(href='./?page=2') 2
      li.page-item
        a.page-link(href='./?page=3') 3
      li.page-item
        a.page-link(href='#') Next
  

